<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Ember Rails App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item nav-link">{{#link-to "tasks"}}Home{{/link-to}}</li>
      <li class="nav-item nav-link">{{#link-to "tasks.new"}}New Task{{/link-to}}</li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="starter-template">
    <div vlass="row">
      <div class="col-md-12">
        <ul>
          {{#each model as |task|}}
          <li>{{task.name}}{{task.description}}{{task.date}}</li>
          {{/each}}
        </ul>
        {{outlet}}
      </div>
    </div>
  </div>
</div>