<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Ember Rails App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item nav-link">{{#link-to "tasks"}}Home{{/link-to}}</li>
      <li class="nav-item nav-link">{{#link-to "tasks.new"}}New Task{{/link-to}}</li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="starter-template">
    <div vlass="row">
      <div class="col-md-12">
        {{outlet}}
        {{#each model as |task|}}
        <div class="card mb-3  p-2">
          <h5 class="card-title">{{task.name}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{task.description}}</h6>
          <small>Due: {{formatDate task.date}}</small>
        </div>
        {{/each}}
      </div>

    </div>
  </div>
</div>